.container_content{
  width: 100%;
  height: 100vh;

  margin-top: 10px;

  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: justify;
}

.content_cover > img{
  border: 5px solid grey;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 400px;
  min-width: 400px;
  height: 250px;
}

.content_descrption{
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

.content_descrption > p{
  color: rgb(177, 177, 177);
}
