<p [ngClass]="style">comp-atributos works!</p>
<button (click)="trocar()">Alterar Cor</button>
<h1 [ngStyle]="{'background':corFundo, 'color': corFonte}">Curso Angular</h1>

<hr>

<ng-content select="p"></ng-content>

    <h1>Lista de Compras</h1>
    <p>Adicione um Item</p>
    <input type="text" [(ngModel)]="item">
        <button (click)="adicionarLista()">Adicionar</button>
        <p>{{item}}</p>

        <ul>
            <li *ngFor="let elemento of lista">
                {{elemento}}
            </li>
        </ul>
<hr>

<ng-content select="h2"></ng-content>

<ng-template [ngIf]="isEnableBlock">
  <a href="#">Finalizar Compra</a>
</ng-template>

<br>

<ng-template [ngIf]="true">
  <a href="#">Adicionar ao Carrinho</a>
</ng-template>

<hr>
